a{
    color: rgb(94, 89, 89) !important; 
}
.button1{
    padding: 3px 7px;
    font-size: 13px;
    border-color: orangered;
    color: orangered;
}
.btn:hover{
    background-color: orangered;
    color: white;
    border: 0px;
}
.underline :hover{
    text-decoration: underline;
    transition: 1s;
}
.b-s{
    box-shadow: 0px 0px 0px .2px rgb(141, 140, 140);
}
.b{
    border-right: 1px solid rgb(170, 166, 166);
}
.button2{
    background-color: rgb(2, 168, 2);
    border: 0px;
    padding: 12px;
    width: 110px; 
    border-radius: 9px;
}
.las-bars{
    color: rgb(255, 255, 255);
}
.searchin{
    border: 1px solid rgb(212, 208, 208);
    background-color: rgba(243, 243, 243, 0.733);
    padding: 10px 20px;
    border-radius: 7px;
    width: 500px;
    outline-color: orangered;
}
.la-search{
    z-index: 1;
    margin-left: -38px;
    margin-top: 13px;
    font-size: 20px;
    border-left: 1px solid;
    padding-left: 10px;
    color: rgb(179, 178, 178);
}
.la-balance-scale{
    font-size: 30px;
    color: rgb(71, 69, 69);
}
.la-balance-scale:hover{
    color: orangered;
}
.lar{
    font-size: 30px;
    color: rgb(71, 69, 69);
}
.lar:hover{
    color: orangered;
}
.la-shopping-cart{
    font-size: 30px;
    color: rgb(71, 69, 69);
}
.la-shopping-cart:hover{
    color: orangered;
}
.ic{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.ic:hover{
    color: orangered;
}
.pay{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(2, 168, 2);
    background-color: white;
    color: rgb(2, 168, 2);
    padding: 15px 25px;
    border-radius: 5px;
    margin-left: 30px;
}
.pay:hover{
    background-color:rgb(2, 168, 2) ;
    color: white;
}
.month{
    font-size: 15px;
}
.mob{
    font-size: 13px;
    color: grey;
}
.card-title{
    font-size: 16px;
}
.colors{
    display: flex;
    gap: 10px;
}
.cblack{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}
.cyellow{
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 50%;
}
.cmilk{
    width: 20px;
    height: 20px;
    background-color: wheat;
    border-radius: 50%;
}
.cviolet{
    width: 20px;
    height: 20px;
    background-color: purple;
    border-radius: 50%;
}
.la-star{
    color: rgb(255, 174, 0);
    font-size: 20px;
}
.la-comment-alt{
    font-size: 20px;
}
.comment{
    display: flex;
    gap: 10px;
    align-items: center;
}
.faizsiz{
    border: 0px;
    color: rgb(50, 50, 255);
    font-weight: 500;
    background-color: rgb(217, 237, 255);
    padding: 6px;
    border-radius: 4px;
}
.cheap{
    border: 1px solid rgb(83, 83, 83);
    color:rgb(83, 83, 83) ;
    font-weight: 500;
    font-size: 14px;
    padding: 6px;
    border-radius: 4px;
}
.stok{
    border: 1px solid rgb(248, 100, 46);
    color:rgb(248, 100, 46) ;
    font-weight: 500;
    font-size: 14px;
    padding: 6px;
    border-radius: 4px;
}
.oldprice{
    font-size: 13px;
    text-decoration:line-through;
    color: rgb(109, 108, 108);
}
.month{
    border: 0px;
    width: 35px;
    padding: 5px 6px;
    background-color: transparent;
}
.credit{
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px
}
.month:hover{
    border: 1px solid gray;
    border-radius: 4px;
}
.cart{
    width: 100%;
    border: 0px;
    background-color: rgb(64,182,89);
    color: white;
    font-weight: 500px;
    padding: 8px;
    border-radius: 4px;
}
.card-img-top{
    width: 270px;
    height: 400px;
}
.main-image{
    text-align: center;
}
.faizsiz2{
    border: 0px;
    color: rgb(50, 50, 255);
    font-weight: 500;
    background-color: rgb(217, 237, 255);
    padding: 3px 5px;
    border-radius: 4px;
}
.cheap2{
    border: 0px;
    color:rgb(248, 100, 46) ;
    font-weight: 500;
    font-size: 14px;
    padding: 5px;
    border-radius: 4px;
}
.say{
    width: 80px;
    border: 1px solid rgb(202, 201, 201);
    border-radius: 4px;
}
.pricee{
    font-weight: 500;
}

.description{
    font-size: 13px;
    color: gray;
}
.title{
    font-weight: 600;
}
.salam{
    width: 170px;
    height: 200px;
}
.baimg{
    text-align: center;
}
.hello{
    border: 1px solid rgb(173, 173, 173);
    padding: 45px;
    width: 80%;
    margin: 0 10%;
}
.sebet3{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}