.container{
    width: 40%;
    margin: 10% 30%;
    border: 1px solid silver;
    padding: 10px 10px;
}
.button{
    text-align: center;
}
.btn{
    padding: 10px 50px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}